@model BetaMushroom.Models.Profile

<h1 style="font-family:'Arial';font-size:100px;text-align:center;">BetaMushroom</h1>

<p style="text-align:center;font-size:25px;">A community for hunters of wild mushrooms.</p>


<img style="max-height:150px;max-width:150px;margin-left:450px;" alt="Mushroom" src="~/images/supM8bit.png" />



<div>
    <img style="max-height:85px;max-width:85px;margin-top:-115px;margin-left:650px;"  alt="Mushroom" src="~/images/ms8bit.png" />

</div>


<p>How BetaMushroom works</p>
<br />
<p>How BetaMushroom can help you</p>







