@model BetaMushroom.Models.Profile

<h1>Welcome, </h1>



<h3>About me:</h3>

<br />
<br />

<h3>My collection:</h3>

<br />
<br />

<h3>Add mushrooms to your collection.</h3>

<p>
    <a asp-controller="Profile" asp-action="AddShroom">Add Mushroom</a>
    <br />
    - or -
    <br />
    <p>View all mushrooms in the database<a asp-controller="Type" asp-action="Index"> HERE</a>

    
</p>


