<h1>Login to your mushroom tracking account!!!</h1>

<p>Username</p>
<input type="text" />
<br />

<p>Password</p>
<input type="password" />

<input type="submit" value="Log in" />

<br />
<br />

<p>Not a member yet?<a asp-area="" asp-controller="Welcome" asp-action="Register">  Register</a></p>