<h1>Register here!</h1>

<br />
<br />

<h2>Why you'll love it</h2>


<!--I would really like to have the 'why you will love it' section off to the side. I will investigate how to do this.-->
<ul>
    <li>Keep a log of all the mushrooms you find.</li>
    <li>You can also pin the location of places you have found mushrooms. This will be private, unless you decide to share.</li>
    <li>Receive notifications when weather conditions are "just right", for the hunt.</li>
</ul>

<br />
<br />

<p>Email</p>
    <input type="email" />
    <br />
    <br />
<p>Username</p>
    <input type="text" />
    <br />
    <br />
<p>Password</p>
    <input type="password" />

<br />
<br />

<input type="submit" value="Join now"/>

