<h1>Registration!</h1>
<h2>Why you'll love it</h2>

<ul>
    <li>Keep a log of all the mushrooms you find.</li>
    <li>You can also pin the location of places you have found mushrooms. This will be private, unless you decide to share.</li>
    <li>Receive notifications when weather conditions are "just right", for the hunt.</li>
</ul>