@model IEnumerable<BetaMushroom.Models.MushroomType>


<h1>The different types of mushrooms in the database will be listed here.</h1>

@foreach (var type in Model)
{
    <ul>
        <li>
            @type.Name
            <br />
        </li>
    </ul>

}

<p><a asp-controller="Type" asp-action="AddShroom">Add mushroom</a></p>