<!--This page is going to give users a form to add a new mushroom to their collection.-->
@model BetaMushroom.ViewModels.AddMushroomViewModel

<h1>Add a mushroom to your collection below.</h1>

<form asp-controller="Mushroom" asp-action="Add" method="post">
    <h3>Choose a mushroom type from the database</h3>

    <div class="form-group">
        <label asp-for="TypeID"></label>
        <select class="form-control" asp-for="TypeID" asp-items="Model.Types"></select>
        
    </div>
        
    
    <div class="form-group">
        <label asp-for="Notes"></label>
        <textarea class="form-control" asp-for="Notes"></textarea>
        <span asp-validation-for="Notes"></span>
    </div>


    <input type="submit" value="Add Mushroom" />
    <br />
    <br />
    <p>- or -</p>
    

    <p>If you cannot find a mushroom type in the drop-down menu, add one.</p>

    <p><a asp-controller="Type" asp-action="Add">Add mushroom type</a></p>



</form>


