@model List<BetaMushroom.Models.MushroomActivity>

<!--This page will display the users complete collection of mushrooms.-->

<h1>@ViewBag.Title</h1>

<h1>Your collection of mushrooms.</h1>


<p><a asp-controller="Profile" asp-action="AddShroom">Add mushroom</a></p>
